+++
title = "CherryBot"
linkTitle = "CherryBot"

+++

{{< blocks/cover title="CherryBot - An AI-based Payload Delivery Robot" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started <i class="fas fa-graduation-cap ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://launchpass.com/collabnix">
		Join Slack <i class="fab fa-slack ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
A CherryBot is an autonomous robotic system powered with production-ready System on Module(SOM) NVIDIA Jetson Nano board, a low-powered AI deployed as Edge device, a sensor suite that includes multiple cameras, GPS and swappable batteries.It is an autonomous delivery robot which picks up and delivers swags and food items within a conference, campus or a roughly 5-6 square kilometers area centered around university premises. The goal is to allow the robot to traverse a given conference and campus area delimited by coordinates on a GPS receiver, detect and avoid obstacles in its path, thereby distributing swags and food items using Deep Learning algorithm.
 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="IoETPlanet!" url="https://github.com/collabnix/ioetplanet" %}}
Start Your [IoET Journey](https://github.com/collabnix/ioetplanet) with us


{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/collabnix/cherrybot" %}}
We do a [Pull Request](https://github.com/collabnix/cherrybot/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/collabnix" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}







